<div class="md-padding">
  <md-toolbar>
    <div class="md-toolbar-tools">EngageAble MQTT Publisher Console</div>
  </md-toolbar>

  <md-whiteframe
    class="md-whiteframe-8dp" flex-gt-md="100">
    <div
      flex="10" layout="column" layout-align="start start">
      <md-button
        class="md-primary md-raised"
        ng-repeat="event in $ctrl.events"
        ng-click="$ctrl.publishMessage(event)">
        <span ng-bind="event.id"></span>
      </md-button>
    </div>
  </md-whiteframe>
</div>
